# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Compiled Sanity Studio
/dist

# Temporary Sanity runtime
/.sanity

# Logs
/logs
*.log

# Coverage directory
/coverage

# Misc
.DS_Store
*.pem

# Dotenv and local-only files
*.local
